<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script src="../../static/js/modal.js" defer></script>

		<!-- 구글폰트 -->
		<link
			href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="/static/style.css" />
		<link rel="stylesheet" href="/static/hayun-style.css" />
		<link rel="stylesheet" href="/static/hong_style.css" />
		<link rel="stylesheet" href="/static/HYOJOO_style.css" />
		<link rel="stylesheet" href="/static/category_style.css" />
		<title>당궁전, 당신이 궁금한 모든 전시회</title>
	</head>

	<body>
		<!-- modal  홍빈홍빈-->
		<article class="hidden modal">
			<button class="modal-closebtn">X</button>
			<div class="modal-info">
				<img class="modal-img" src="/static/sample.png" />
				<div class="modal-desc">
					<span class="modal-desc-name">앨리스 달튼 브라운</span>
					<span class="modal-desc-date">🗓 2021.7.22 ~ 2021.9.10</span>
					<span class="modal-desc-place">🗺 마이아트뮤지엄</span>
					<a class="modal-desc-url" href="">마이아트뮤지엄</a>
					<span class="modal-desc-map">지도넣을 자리!</span>
				</div>
			</div>
		</article>

		<!-- header -->
		<header>header는 하윤님~~~~~~~`</header>

		<!-- main -->
		<main class="main">
			<!-- main-article -->
			<article class="main-exhibition">
				<div class="exhibition-desc">
					<span class="exhibition-name">앨리스 달튼 브라운</span>
					<span class="exhibition-place">장소: 마이아트뮤지엄</span>
					<span class="exhibition-date">기간: 2021.7.22 ~ 2021.9.10</span>
				</div>
				<img class="exhibition-img" src="../static/앨리스.png" />
			</article>

			<!-- main-section -->
			<section>main-section은 효주님~~~~~~~~~</section>
		</main>
	</body>
</html>
