header {
    background-color : #FDDECC;
    height: 80px;
}
/*사이트 정보 파트*/
.our_work {
    text-align: center;
    margin: 120px auto 120px auto;
    width: 900px;
}

.title_work {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*팀원설명 파트*/
.title_meet {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

/*박스 들어갈 부분*/
.pack {
    display: flex;
    width: 840px;
    height: 360px;
    margin: auto;
}

.pack > li {
    flex: 1;
    height: 360px;
}

.pack > li:not(:last-child) {
    margin-right: 30px;
}

li {
    list-style: none;
    padding-left: 0px;
}

/*개별 박스*/
.box-body {
    text-align: center;
    margin: auto;
}

.box-img-top {
    width: 160px;
    height: 140px;
    margin: 10px auto 0 auto;
    display: block;
}

.name {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 5px auto 0 auto;
}

.box-text {
    width : 240px;
    font-size: 12px;
    margin: 5px auto 10px auto;
}

.url {
    width: 90px;
    height: 40px;
    background: #2F7AF4;
    color: #fff;
    font-size: 15px;
    margin: 10px auto 0 auto;
    border: 0;
    border-radius: 3px;
    outline: 0;
}

/*thnks to 부분*/
.title_tutor {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
.name_tutor {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.position {
    font-style:italic;
    font-size:14px;
    padding-right:10px;
    color: #D8384D;
}

.pack2 {
    display: flex;
    width: 800px;
    height: 200px;
    margin-left: 180px;
}

.pack2 > li {
    flex: 1;
    height: 200px;
    /*background-color: green;*/
}

.pack2 > li:not(:last-child) {
    margin-right: 10px;
}

.box-img-top-2 {
    width: 100px;
    height: 120px;
    margin: 10px auto 0 auto;
    display: block;
}

footer {
    height: 120px;
}