header {
    background-color : #FDDECC;
    height: 80px;
}
/*사이트 정보 파트*/
.our_work {
    text-align: center;
    margin: 120px auto 160px auto;
    width: 900px;
}

.our_work .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*팀원설명 파트*/
.team .title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

/*박스 들어갈 부분*/
.box {
    display: flex;
    width: 840px;
    height: 360px;
    margin: auto;
}

.box > li {
    flex: 1;
    height: 360px;
}

.box > li:not(:last-child) {
    margin-right: 30px;
}

li {
    list-style: none;
    padding-left: 0px;
}

/*개별 박스*/
.team .box .box-body {
    text-align: center;
    margin: auto;
}

.team .box .box-body img {
    width: 160px;
    height: 140px;
    margin: 10px auto 0 auto;
    display: block;
}

.team .box .box-body .name {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 5px auto 0 auto;
}

.team .box .box-body .text {
    width : 240px;
    font-size: 12px;
    margin: 5px auto 10px auto;
}

.team .box .box-body a .url {
    width: 90px;
    height: 36px;
    background: #2F7AF4;
    color: #fff;
    font-size: 15px;
    margin: 10px auto 0 auto;
    border: 0;
    border-radius: 3px;
    outline: 0;
}

/*thnks to 부분*/
.thanks .title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 30px;
}

.thanks .box-2 .body .position {
    font-style:italic;
    font-size:14px;
    padding-right:10px;
    color: #D8384D;
}

.thanks .box-2 .body .name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.thanks .box-2 {
    display: flex;
    width: 800px;
    height: 200px;
    margin-left: 180px;
}

.thanks .box-2 > li {
    flex: 1;
    height: 200px;
}

.thanks .box-2 > li:not(:last-child) {
    margin-right: 10px;
}

.thanks .box-2 .body .logo {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}

.thanks .box-2 .body .box-img-top-2 {
    width: 100px;
    height: 120px;
    margin: 10px auto 0 auto;
    display: block;
}

footer {
    height: 120px;
}