* {
    font-family: 'Noto Sans KR', sans-serif;
}

/*사이트 정보 파트*/
.our_work {
    text-align: center;
    margin-bottom: 100px;
}

.Work {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*팀원설명 파트*/
.Meet {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

/*박스 들어갈 부분*/
.person {
    display: flex;
    width: 1000px;
    height: 330px;
    margin: auto;
}

.person > li {
    margin-top: 20px;
    flex: 1;
    height: 330px;
}

.person > li:not(:last-child) {
    margin-right: 30px;
}

li {
    list-style: none;
    padding-left: 0px;
}

/*개별 박스*/
.box-body {
    text-align: center;
    margin: auto;
}

.box-img-top {
    width: 200px;
    height: 180px;
    margin: 20px auto 10px auto;
    display: block;
}

.name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.box-link {
    font-size: 14px;
}