.main_page_top {
	background-color: #fddecc;

	/* height: 500px; */

	background-size: cover;
	background-position: center;
}
nav {
	display: flex;
	justify-content: space-between;
}
.logo {
	margin: 0px 20px 10px 30px;
	float: left;
	padding-top: 20px;
}

ul {
	/* width: 500px; */
	height: fit-content;
	background-color: #fddecc;
	list-style: none;
	padding-top: 30px;
}

ul li {
	float: left;
	margin-right: 25px;
}

ul li a {
	font-size: 25px;
	color: black;
	font-weight: normal;
	text-decoration: none;
}

ul ul li a {
	font-size: 18px;
	color: black;
	padding-top: 0;
}

.form-control {
	background-color: #fddecc;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid black;
}

.search-btn {
	background-color: #fddecc;
	border: none;
}

.search-box {
	width: 250px;
	height: 45px;
	/* float: right; */
	/* padding-right: 10px; */
	padding-top: 30px;
	padding-right: 15px;
}

#menu-list ul {
	display: none;
	position: absolute;
	width: 480px;
	background-color: #fddecc;
}

#menu-list li:hover ul {
	display: block;
}
