:root {
	/* color */
	--peach-color: hsl(23, 93%, 89%);
	--brown-color: #75543d;

	/* font */
	--font-large: 4em;
	--font-medium: 1.8em;
	--font-small: 1.3em;
	--font-micro: 0.8em;

	/* padding */
	--padding-side: 100px;
	--padding-large: 30px;
	--padding-medium: 20px;
	--padding-small: 10px;

	/* image */
	--img-width: 300px;
	--img-height: 400px;
}
* {
	padding: 0;
	margin: 0;
}
a,
button {
	border: none;
	cursor: pointer;
	outline: none;
	background-color: transparent;
}
a {
	text-decoration: none;
}

/* main */
.main {
	background-color: var(--peach-color);
}
.main .main-exhibition {
	display: flex;
	justify-content: space-between;
	padding: var(--padding-large);
}
.main .main-exhibition .exhibition-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: var(--padding-side);
}
.main .main-exhibition .exhibition-desc .exhibition-name {
	font-size: var(--font-large);
	padding-bottom: var(--padding-medium);
}
.main .main-exhibition .exhibition-desc .exhibition-place,
.main .main-exhibition .exhibition-desc .exhibition-date {
	font-size: var(--font-medium);
}
.main .main-exhibition .exhibition-img {
	margin-right: var(--padding-side);
	width: var(--img-width);
	height: var(--img-height);
}

/* modal */
.modal.hidden {
	display: none;
}
.modal {
	z-index: 1;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-style: solid;
	border-width: thick;
	border-color: var(--brown-color);
	border-radius: 30px;
	width: 80%;
	height: fit-content;
	background-color: white;
	justify-content: space-between;
}
.modal .modal-closebtn {
	align-self: flex-end;
	padding: var(--padding-small) var(--padding-medium);
	padding-bottom: 0;
	color: var(--peach-color);
	font-size: var(--font-medium);
}
.modal .modal-img {
	height: 540px;
	padding: 0 var(--padding-small);
	border-radius: 30px;
}

.modal .modal-info {
	display: flex;
	justify-content: center;
	padding: var(--padding-medium);
}
.modal .modal-info .modal-desc {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: var(--font-small);
	padding: 0 var(--padding-medium);
}
.modal .modal-info .modal-desc .modal-desc-name {
	font-size: var(--font-medium);
	font-weight: bold;
	padding-bottom: var(--padding-medium);
}
.modal .modal-info .modal-desc .modal-desc-map {
	height: 50%;
	width: 100%;
	border: thin solid var(--brown-color);
	border-radius: 10px;
}

@media screen and (min-width: 1000px) {
	.modal {
		width: 900px;
	}
}
