:root {
	/* color */
	--peach-color: hsl(23, 93%, 89%);
	--brown-color: #75543d;
	--darkpeach-color: #f9cdad;

	/* font */
	--font-large: 2em;
	--font-medium: 1.5em;
	--font-small: 1.3em;
	--font-micro: 0.8em;

	/* padding */
	--padding-side: 3em;
	--padding-large: 2em;
	--padding-medium: 1.2em;
	--padding-small: 0.8em;
}
* {
	padding: 0;
	margin: 0;
}
a,
button {
	border: none;
	cursor: pointer;
	outline: none;
	background-color: transparent;
}
a {
	text-decoration: none;
}

/* main */
.main {
	background-color: var(--peach-color);
}
.main .main-exhibition {
	height: 50vh;
	display: flex;
	justify-content: space-between;
	padding: var(--padding-small) var(--padding-large);
	margin-bottom: var(--padding-large);
}
.main .main-exhibition:hover {
	background-color: var(--darkpeach-color);
	cursor: pointer;
}
.main .main-exhibition .exhibition-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: var(--padding-side);
}
.main .main-exhibition .exhibition-desc .exhibition-name {
	font-size: var(--font-large);
	padding-bottom: var(--padding-medium);
}
.main .main-exhibition .exhibition-desc .exhibition-place,
.main .main-exhibition .exhibition-desc .exhibition-date {
	font-size: var(--font-medium);
}
.main .main-exhibition .exhibition-img {
	margin-right: var(--padding-side);
	/* width: var(--img-width); */
	/* height: 90%; */
}

/* modal */
.modal.hidden {
	display: none;
}
.modal {
	z-index: 1;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-style: solid;
	border-width: medium;
	border-color: var(--brown-color);
	border-radius: 30px;
	width: 60%;
	height: fit-content;
	background-color: white;
	justify-content: space-between;
}
.modal .modal-closebtn {
	align-self: flex-end;
	padding: var(--padding-small) var(--padding-medium);
	padding-bottom: 0;
	color: var(--peach-color);
	font-size: var(--font-medium);
}
.modal .modal-img {
	padding: 0 var(--padding-small);
	width: 40%;
	height: auto;
}

.modal .modal-info {
	display: flex;
	justify-content: center;
	padding: var(--padding-medium);
}
.modal .modal-info .modal-desc {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: var(--font-micro);
	padding: 0 var(--padding-medium);
}
.modal .modal-info .modal-desc .modal-desc-name {
	font-size: var(--font-medium);
	font-weight: bold;
	padding-bottom: var(--padding-small);
}
.modal .modal-info .modal-desc #map {
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 100%;
}
.modal .modal-info .modal-desc .modal-desc-map {
	width: 100%;
	height: 100%;
	border: thin solid var(--brown-color);
	border-radius: 5px;
}

@media screen and (min-width: 1000px) {
	.modal {
		width: 750px;
	}
}
