.section{
    height: 700px;
}

.like {
    font-size: 30px;
    Width: 245px;
    Height: 35px;
    Top: 652px;
    Left: 47px;
    margin: 50px auto 20px 50px;
}

.card-columns {
    height: 450px;
    width: 65px;
    margin: auto 30px auto 65px;
}

.slidebox {
    width: 300vw;
    margin: auto;
}

.slideitem {
    width: 300px;
    height: 450px;
    float: left;
    margin: auto 20px auto 40px;
}

.card-body{
    width: 300px;
    height: 600px;
}

.card-img {
    width: 300px;
    height: 400px;
    top: 705px;
    left: 400px;
    margin: auto;
}

.card-name {
    color: black;
    margin: 450px auto auto auto;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    height: 400px;
}

.ico_arrow-R {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: transparent;
    outline: transparent;
    position: absolute;
    right: 0;
    margin: 150px auto auto auto;
    text-indent: -9999px;
    float: right;

}

.ico_arrow-R:before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    transform: translate(-50%, -50%) rotate(135deg);
}

.ico_arrow-R:after {
    content: '';
    width: 42px;
    height: 2px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: #000
}

.ico_arrow-L {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: transparent;
    outline: transparent;
    position: absolute;
    margin: 150px auto auto auto;
    text-indent: -9999px;

}

.ico_arrow-L:before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: translate(-50%, -50%) rotate(135deg);
}

.ico_arrow-L:after {
    content: '';
    width: 42px;
    height: 2px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    background: #000
}
