:root {
	/* color */
	--peach-color: hsl(23, 93%, 89%);
	--brown-color: #75543d;
	--darkpeach-color: #f9cdad;

	/* font */
	--font-large: 2em;
	--font-medium: 1.5em;
	--font-small: 1.3em;
	--font-micro: 0.8em;

	/* padding */
	--padding-side: 3em;
	--padding-large: 2em;
	--padding-medium: 1.2em;
	--padding-small: 0.8em;

	/* image */
	--img-width: 210px;
	--img-height: 280px;
}
* {
	padding: 0;
	margin: 0;
}
a,
button {
	border: none;
	cursor: pointer;
	outline: none;
	background-color: transparent;
}
a {
	text-decoration: none;
}
.main_section {
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: var(--padding-medium);
}
.main_section .main_like {
	font-size: var(--font-small);
	font-weight: bold;
}
.main_section .main_list {
	display: flex;
}
.main_section .main_list button {
	padding: 0 var(--padding-small);
}
.main_section .main_list .main_slidebox {
	display: flex;
}
.main_section .main_list .main_card_columns {
	overflow: hidden;
}
.main_section .main_list .main_card_columns .main_card_body {
	display: flex;
	flex-direction: column;
	padding: var(--padding-medium);
	border-radius: 10px;
}
.main_section .main_list .main_card_columns .main_card_body:hover {
	background-color: var(--darkpeach-color);
}
.main_section .main_list .main_card_columns .main_card_body img {
	width: var(--img-width);
	height: var(--img-height);
}
.main_section .main_list .main_card_columns .main_card_body .main_card_name {
	padding-bottom: var(--padding-medium);
	font-size: var(--font-small);
}
