<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/About_Us(kmj).css" />

    <title>About US</title>
</head>
<body>
    <header></header>
    <!--사이트 정보-->
    <div class="our_work">
        <h1 class="title_work">Our Work</h1>
        <p class="desc_work">
            전시회 관한 사이트입니다. 설명이 들어갈 자리 입니다. 전시회 관한 사이트입니다. 설명이 들어갈 자리 입니다.
            <br>전시회 관한 사이트입니다. 설명이 들어갈 자리 입니다. 전시회 관한 사이트입니다. 설명이 들어갈 자리 입니다.
            <br>전시회 관한 사이트입니다. 설명이 들어갈 자리 입니다. 전시회 관한 사이트입니다. 설명이 들어갈 자리 입니다.
        </p>
    </div>

    <!--팀원 소개-->
    <div class="team">
        <h1 class="title_meet">Meet Team 코딩창조</h1>
        <ul class="pack">
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄</p>
                    <p class="box-text">
                    저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.
                    </p>
                    <a href="https://www.naver.com/" target="_blank">
                        <button class="url">개발일지</button>
                    </a>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄</p>
                    <p class="box-text">
                    저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.
                    </p>
                    <a href="https://www.naver.com/" target="_blank">
                        <button class="url">개발일지</button>
                    </a>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄</p>
                    <p class="box-text">
                    저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.
                    </p>
                    <a href="https://www.naver.com/" target="_blank">
                        <button class="url">개발일지</button>
                    </a>
                </div>
            </li>
        </ul>
        <ul class="pack">
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄</p>
                    <p class="box-text">
                    저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.
                    </p>
                    <a href="https://www.naver.com/" target="_blank">
                        <button class="url">개발일지</button>
                    </a>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄</p>
                    <p class="box-text">
                    저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.
                    </p>
                    <a href="https://www.naver.com/" target="_blank">
                        <button class="url">개발일지</button>
                    </a>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄</p>
                    <p class="box-text">
                    저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.
                    </p>
                    <a href="https://www.naver.com/" target="_blank">
                        <button class="url">개발일지</button>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <!--도움을 주신 분들 설명-->
    <div class="tutor">
        <h1 class="title_tutor">Thanks to</h1>
        <ul class="pack2">
            <li>
                <div class="box-body">
                    <img src="../static/club.png" width="150px" height="180px">
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top-2" src="../static/dino.png">
                    <p class="name_tutor"><span class="position">Tutor</span>이범규</p>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top-2" src="../static/dino.png">
                    <p class="name_tutor"><span class="position">Mini Tutor</span>정석진</p>
                </div>
            </li>
        </ul>
        <ul class="pack2">
            <li>
                <div class="box-body">
                    <img class="box-img-top-2" src="../static/dino.png">
                    <p class="name_tutor"><span class="position">Manager</span>송현영</p>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top-2" src="../static/dino.png">
                    <p class="name_tutor"><span class="position">Manager</span>왕예리</p>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top-2" src="../static/dino.png">
                    <p class="name_tutor"><span class="position">Manager</span>황선애</p>
                </div>
            </li>
        </ul>
    </div>
    <footer></footer>
</body>
</html>