<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/About%20Us(kmj).css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <title>About US</title>
</head>
<body>
    <!--사이트 정보-->
    <div class="our_work">
        <h1 class="Work">Our work</h1>
        <p>전시회 관한 사이트입니다. 설명이 들어갈 자리 입니다. 전시회 관한 사이트입니다. 설명이 들어갈 자리 입니다.</p>
    </div>

    <!--팀원설명-->
    <div class="team">
        <h1 class="Meet">Meet Team 코딩창조</h1>
        <ul class="person">
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄 <a href="#" class="box-link">개발일지</a>
                    <p>저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다.</p>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄 <a href="#" class="box-link">개발일지</a>
                    <p>저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다.</p>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄 <a href="#" class="box-link">개발일지</a>
                    <p>저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다.</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="team">
        <ul class="person">
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄 <a href="#" class="box-link">개발일지</a>
                    <p>저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다.</p>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄 <a href="#" class="box-link">개발일지</a>
                    <p>저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다.</p>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄 <a href="#" class="box-link">개발일지</a>
                    <p>저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다.</p>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>