<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/About_Us(kmj).css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">

    <title>About US</title>
</head>
<body>
    <header></header>
    <!--사이트 정보-->
    <div class="our_work">
        <h1 class="title_work">Our Work</h1>
        <p class="desc_work">
            전시회 관한 사이트입니다. 설명이 들어갈 자리 입니다. 전시회 관한 사이트입니다. 설명이 들어갈 자리 입니다.
            <br>전시회 관한 사이트입니다. 설명이 들어갈 자리 입니다. 전시회 관한 사이트입니다. 설명이 들어갈 자리 입니다.
            <br>전시회 관한 사이트입니다. 설명이 들어갈 자리 입니다. 전시회 관한 사이트입니다. 설명이 들어갈 자리 입니다.
        </p>
    </div>

    <!--팀원설명-->
    <!--Type A(개발일지 버튼이 아래위치)-->
    <div class="team">
        <h1 class="title_meet">Meet Team 코딩창조</h1>
        <ul class="pack">
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄</p>
                    <p class="box-text">
                    저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.
                    </p>
                    <a href="https://www.naver.com/" target="_blank">
                        <button class="url">개발일지</button>
                    </a>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄</p>
                    <p class="box-text">
                    저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.
                    </p>
                    <a href="https://www.naver.com/" target="_blank">
                        <button class="url">개발일지</button>
                    </a>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti.jpg">
                    <p class="name">김석탄</p>
                    <p class="box-text">
                    저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.
                    </p>
                    <a href="https://www.naver.com/" target="_blank">
                        <button class="url">개발일지</button>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <!--Type B(개발일지 링크가 이름 옆에 위치) -->
    <div class="team">
        <ul class="pack">
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti(2).png">
                    <p class="name">김석탄
                        <a href="https://www.naver.com/" target="_blank" title="개발일지">
                            <img src="../static/link.png" class="box-link">
                        </a>
                    </p>
                    <p class="box-text">저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.</p>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti(2).png">
                    <p class="name">김석탄
                        <a href="https://www.naver.com/" target="_blank" title="개발일지">
                            <img src="../static/link.png" class="box-link">
                        </a>
                    </p>
                    <p class="box-text">저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.</p>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti(2).png">
                    <p class="name">김석탄
                        <a href="https://www.naver.com/" target="_blank" title="개발일지">
                            <img src="../static/link.png" class="box-link">
                        </a>
                    </p>
                    <p class="box-text">저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.</p>
                </div>
            </li>
        </ul>
    </div>
    <!--도움을 주신 분들 설명-->
    <div class="tutor">
        <h1 class="title_tutor">Thanks to</h1>
        <ul class="pack">
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti(3).png">
                    <p class="name_tutor">미니튜터</p>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti(3).png">
                    <p class="name_tutor">미니튜터</p>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img class="box-img-top" src="../static/mbti(3).png">
                    <p class="name_tutor">미니튜터</p>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>