<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/About_Us(kmj).css" />

    <title>About US</title>
</head>
<body>
    <header></header>
    <!--사이트 정보-->
    <div class="our_work">
        <h1>Our Work</h1>
        <div class="contents1">
            <div class="logo">
                <img src="/static/about/logo_dang.png"
            </div>
            <div class="desc">
                <h3>당궁전 : 당신이 궁금한 모든 전시회</h3>
                <p>이곳은 설명란입니다. 곧 채워질 예정입니다. 이곳은 설명란입니다. 곧 채워질 예정입니다.
                    <br>이곳은 설명란입니다. 곧 채워질 예정입니다.
                    <br>이곳은 설명란입니다. 곧 채워질 예정입니다.
                    <br>이곳은 설명란입니다. 곧 채워질 예정입니다.
                    <br>이곳은 설명란입니다. 곧 채워질 예정입니다.
                </p>
            </div>
        </div>
    </div>

    <!--팀원 소개-->
    <div class="team">
        <h1 class="title">Meet Team 코딩창조</h1>
        <ul class="box">
            <li>
                <div class="box-body">
                    <img title="INFP" src="../static/about/ys.png">
                    <p class="name">김영산</p>
                    <p class="text">
                    저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.
                    </p>
                    <button class="url" onclick="window.open('https://ezkoding.tistory.com')">개발일지</button>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img title="ENFJ" src="../static/about/hj.png">
                    <p class="name">유효주</p>
                    <p class="text">
                    저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.
                    </p>
                    <button class="url" onclick="window.open('https://pbling.tistory.com/')">개발일지</button>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img title="ISFP" src="../static/about/hy_mj.png">
                    <p class="name">문하윤</p>
                    <p class="text">
                    저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.
                    </p>
                    <button class="url" onclick="window.open('https://velog.io/@mhy9502')">개발일지</button>
                </div>
            </li>
        </ul>
        <ul class="box">
            <li>
                <div class="box-body">
                    <img title="INTJ" src="/static/about/hb.png">
                    <p class="name">이홍빈</p>
                    <p class="text">
                    저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.
                    </p>
                    <button class="url" onclick="window.open('https://sulfuric-lunge-ed9.notion.site/15-577bc72da1dc40d7a690cfa19a57c17f')">개발일지</button>
                </div>
            </li>
            <li>
                <div class="box-body">
                    <img title="ISFP" src="/static/about/hy_mj.png">
                    <p class="name">김민정</p>
                    <p class="text">
                    저는 누구누구입니다. 저의 TMI는 .......입니다.  저는 누구누구입니다. 저의 TMI는 .......입니다. 저는 누구누구입니다. 저의 TMI는 .......입니다.
                    </p>
                    <button class="url" onclick="window.open('https://velog.io/@minnjeong_kim')">개발일지</button>
                </div>
            </li>
            <li class="solo">
                <img src="/static/about/logo.png">
            </li>
        </ul>
    </div>

    <!--도움을 주신 분들 설명-->
    <div class="help">
        <h1 class="title">Thanks to</h1>
        <div class="contents3">
            <div class="group">
                <li>
                <div class="body">
                    <img class="box-img-top-2" src="../static/about/bk.png">
                    <p class="name"><span class="position">Tutor</span>이범규</p>
                </div>
                </li>
                <li>
                    <div class="body">
                        <img class="box-img-top-2" src="/static/about/sj.png">
                        <p class="name"><span class="position">Mini Tutor</span>정석진</p>
                    </div>
                </li>
                <li>
                    <div class="body">
                        <img class="box-img-top-2" src="/static/about/hy.png">
                        <p class="name"><span class="position">Manager</span>송현영</p>
                    </div>
                </li>
                <li>
                    <div class="body">
                        <img class="box-img-top-2" src="/static/about/yr.png">
                        <p class="name"><span class="position">Manager</span>왕예리</p>
                    </div>
                </li>
                <li>
                    <div class="body">
                        <img class="box-img-top-2" src="/static/about/sa.png">
                        <p class="name"><span class="position">Manager</span>황선애</p>
                    </div>
                </li>
            </div>
            <img class="logo" src="/static/about/sparta.png">
        </div>
    </div>


    <footer></footer>
</body>
</html>