<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script type="text/javascript" src="/static/js/free.js"></script>

		<!-- services 라이브러리 불러오기 -->
		<script
			type="text/javascript"
			src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ffacdce28386dbbb00abe6c880980966&libraries=services"
		></script>
		<script src="../../static/js/modal.js" defer></script>

		<!-- 구글폰트 -->
		<link
			href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='favicon.ico') }}"
		/>
		<link rel="stylesheet" href="/static/style.css" />
		<link rel="stylesheet" href="/static/category.css" />
		<link rel="stylesheet" href="/static/header.css" />
		<link rel="stylesheet" href="/static/main.css" />
		<link rel="stylesheet" href="/static/modal.css" />
		<title>당궁전, 당신이 궁금한 모든 전시회</title>
	</head>

	<body>
		<!-- modal  홍빈홍빈-->
		<div class="modal-background hidden">
			<article class="hidden modal">
				<button class="modal-closebtn">X</button>
				<div class="modal-info">
					<img class="modal-img" src="/static/sample.png" />
					<div class="modal-desc">
						<span class="modal-desc-name">앨리스 달튼 브라운</span>
						<span class="modal-desc-date">🗓 2021.7.22 ~ 2021.9.10</span>
						<span class="modal-desc-place">🗺 마이아트뮤지엄</span>
						<a class="modal-desc-url" href="">마이아트뮤지엄</a>
						<div id="map">
							<span class="modal-desc-adress"></span>
							<span class="modal-desc-map"></span>
						</div>
					</div>
				</div>
			</article>
		</div>

		<!-- header 하윤님-->
		<div class="main_page_top">
			<div>
				<h1 class="logo">
					<a href="/"
						><img src="/static/logo.png" width="60px" height="60px" alt="로고"
					/></a>
				</h1>
			</div>
			<div class="menu">
				<nav class="menu-nav">
					<ul class="menu-list" id="menu-list">
						<li><a href="/">Home</a></li>
						<li>
							<a href="#">Exhibition</a>
							<ul class="submenu">
								<li><a href="/top50">Top 50</a></li>
								<li><a href="/closing">종료예정</a></li>
								<li><a href="/free">무료전시</a></li>
								<li><a href="/online">온라인전시</a></li>
							</ul>
						</li>
						<li><a href="/about_us">About us</a></li>
					</ul>
					<form
						class="input-group search-box"
						action="/search_list"
						method="GET"
					>
						<input
							type="text"
							class="form-control"
							name="keyword"
							placeholder="전시회, 지역을 검색해보세요!"
							autocomplete="off"
						/>
						<button
							class="search-btn"
							type="submit"
							value="submit"
							width="28px"
							height="28px"
						>
							🔍
						</button>
					</form>
				</nav>
			</div>
		</div>
		<!-- main -->
		<main class="category-main">
			<div class="category-name">무료 전시</div>
			<ul class="exhibition-list" id="free"></ul>
		</main>
	</body>
</html>
