<!DOCTYPE html>
<html lang="ko">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>

		<!-- 구글폰트 -->
		<link
			href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
			rel="stylesheet"
		/>

		<title>당궁전 : 당신이 궁금한 모든 전시회</title>

		<link rel="stylesheet" href="/static/hayun-style.css" />
	</head>

	<body
		topmargin="0"
		bottommargin="0"
		leftmargin="0"
		rightmargin="0"
		style="background-color: #f6f6f6"
	>
		<div class="main_page_top">
			<div>
				<h1 class="logo">
					<a href="#"
						><img src="/static/logo.png" width="60px" height="60px" alt="로고"
					/></a>
				</h1>
			</div>
			<div class="menu">
				<nav>
					<ul class="menu-list">
						<li><a href="http://www._____.com">Home</a></li>
						<!--""<-여기 부분에 URL 작성하면 됨-->
						<li><a href="http://www._____.com/Exhibition">Exhibition</a></li>
						<li><a href="http://www._____.com/About us">About us</a></li>
					</ul>

					<span class="input-group search-box">
						<!-- 여기에 부트스트랩지우고 순수html로 input 써넣으시고요!!  -->
						<input
							type="text"
							class="form-control"
							placeholder=""
							aria-label="Recipient's username"
							aria-describedby="basic-addon2"
						/>
						<!-- 여기에도 순수html로 버튼 써넣어주세요!! -->
						<button
							class="btn btn-outline-secondary input-group-append"
							type="button"
						>
							<img src="/static/searching logo.png" width="28px" height="28px" />
						</button>
					</span>
				</nav>
			</div>
		</div>
	</body>
</html>

<!--https://ticketimage.interpark.com/Play/image/large/21/21004500_p.gif-->>