<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/HYOJOO_style.css">
</head>
<body>
<div class="main_section">
				<p class="main_like">You may also like</p>
				<button class="main_ico_arrow-L" type="button">클릭</button>
				<div class="main_card_columns">
					<div class="main_slidebox">
						<div class="main_slideitem">
							<div class="main_card_body">
								<a href="https://www.naver.com/">
									<!--여기에 홈페이지 링크/지금은 임시로 네이버 넣음-->
									<img
										class="main_card_img"
										src="https://og-data.s3.amazonaws.com/media/exhibitions/image/12381/ei_12381.gif"
									/>
									<!--여기에 이미지 주소/지금은 임시로 모네 넣음-->
								</a>
								<h4 class="main_card_name">전시회 이름</h4>
							</div>
						</div>
						<div class="main_slideitem">
							<div class="main_card_body">
								<a href="https://www.naver.com/">
									<!--여기에 홈페이지 링크/지금은 임시로 네이버 넣음-->
									<img
										class="main_card_img"
										src="https://og-data.s3.amazonaws.com/media/exhibitions/image/12381/ei_12381.gif"
									/>
									<!--여기에 이미지 주소/지금은 임시로 모네 넣음-->
								</a>
								<h4 class="main_card_name">전시회 이름</h4>
							</div>
						</div>
						<div class="main_slideitem">
							<div class="main_card_body">
								<a href="https://www.naver.com/">
									<!--여기에 홈페이지 링크/지금은 임시로 네이버 넣음-->
									<img
										class="main_card_img"
										src="https://og-data.s3.amazonaws.com/media/exhibitions/image/12381/ei_12381.gif"
									/>
									<!--여기에 이미지 주소/지금은 임시로 모네 넣음-->
								</a>
								<h4 class="main_card_name">전시회 이름</h4>
							</div>
						</div>
						<div class="main_slideitem">
							<div class="main_card_body">
								<a href="https://www.naver.com/">
									<!--여기에 홈페이지 링크/지금은 임시로 네이버 넣음-->
									<img
										class="main_card_img"
										src="https://og-data.s3.amazonaws.com/media/exhibitions/image/12381/ei_12381.gif"
									/>
									<!--여기에 이미지 주소/지금은 임시로 모네 넣음-->
								</a>
								<h4 class="main_card_name">전시회 이름</h4>
							</div>
						</div>
						<div class="main_slideitem">
							<div class="main_card_body">
								<a href="https://www.naver.com/">
									<!--여기에 홈페이지 링크/지금은 임시로 네이버 넣음-->
									<img
										class="main_card_img"
										src="https://og-data.s3.amazonaws.com/media/exhibitions/image/12381/ei_12381.gif"
									/>
									<!--여기에 이미지 주소/지금은 임시로 모네 넣음-->
								</a>
								<h4 class="main_card_name">전시회 이름</h4>
							</div>
						</div>

					</div>
				</div>
				<button class="main_ico_arrow-R" type="button">클릭</button>
			</div>
</body>
</html>