<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-columns">
<p>You may also like</p>
    <div class="card">
        <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button>
        <div class="swiper-button-prev"></div>
             <a href="https://www.naver.com/">
                     <!--여기에 홈페이지 링크/지금은 임시로 네이버 넣음-->
                    <img class="card-img"
                    src="https://og-data.s3.amazonaws.com/media/exhibitions/image/12381/ei_12381.gif">
                         <!--여기에 이미지 주소/지금은 임시로 모네 넣음-->
                 </a>
                <div class="card-body">
                    <p class="card-text">전시회 이름</p>
                    <div class="swiper-button-next"></div>
        <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
                </div>
    </div>
</div>
</body>
</html>