<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/style.css" />
		<title>당궁전, 당신이 궁금한 모든 전시회</title>
	</head>
	<body>
		<!-- header -->
		<header class="header">
			<nav class="nav">
				<a class="home" href="/"
					><img src="../static/logo.png" width="50px" height="50px"
				/></a>
				<div class="home">Home</div>
				<div class="exhibition">Exhibition</div>
				<div class="info">Info</div>
			</nav>
			<form>
				<input placeholder="전시회명을 검색해보세요!" />
				<button>🔍</button>
			</form>
		</header>
	</body>
</html>
