<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/category_style.css" />
		<link rel="stylesheet" href="/static/hong_style.css" />
		<title>당궁전, 당신이 궁금한 모든 전시회</title>
	</head>
	<body>
		<!-- modal  -->
		<article class="hidden modal">
			<button class="modal-closebtn">X</button>
			<div class="modal-info">
				<img class="modal-img" src="../static/앨리스.png" />
				<div class="modal-desc">
					<span class="modal-desc-name">앨리스 달튼 브라운</span>
					<span class="modal-desc-date">🗓 2021.7.22 ~ 2021.9.10</span>
					<span class="modal-desc-place">🗺 마이아트뮤지엄</span>
					<a class="modal-desc-url" href="">마이아트뮤지엄</a>
					<span class="modal-desc-map">지도넣을 자리!</span>
				</div>
			</div>
		</article>

		<!-- header -->
		<header>header는 하윤님~~~~~~~</header>

		<!-- main -->
		<main class="category-main">
			<div class="category-name">온라인 전시</div>
			<ul class="exhibition-list">
				<li class="exhibition">
					<a><img class="exhibition-img" src=../static/앨리스.png></a>
					<span class="exhibition-name">앨리스 달튼 브라운</span>
				</li>
				<li class="exhibition">
					<a><img class="exhibition-img" src=../static/앨리스.png></a>
					<span class="exhibition-name">앨리스 달튼 브라운</span>
				</li>
				<li class="exhibition">
					<a><img class="exhibition-img" src=../static/앨리스.png></a>
					<span class="exhibition-name">앨리스 달튼 브라운</span>
				</li>
				<li class="exhibition">
					<a><img class="exhibition-img" src=../static/앨리스.png></a>
					<span class="exhibition-name">앨리스 달튼 브라운</span>
				</li>
				<li class="exhibition">
					<a><img class="exhibition-img" src=../static/앨리스.png></a>
					<span class="exhibition-name">앨리스 달튼 브라운</span>
				</li>
			</ul>
		</main>
	</body>
</html>
